body {
}
#reset {
    margin: 10px;
}
.flex { /* this one should fit content vertically maybe*/ /* y-axis */

    height: 50%;
    width: 50%; /* give the grid a size to remain relative to the users window */
    margin: 0 auto;
}
.row { /* this one fits content horizontally */ /* x axis */
    display: flex; /* allows grid to resize */
    
}
.box { /* make sure the squares remain square */

    flex: 1; /* allows grid to resize */
    border: 1px solid black;
    aspect-ratio: 1/1; /* makes a square */
}
